.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.iconButton:hover {
  transform: scale(1.1);
}
  
.content {
  display: flex;
  flex-direction: column;
  flex:1;
  padding:24px;
}
  
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:16px;
}
  
.heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2d3436;
}
  
.showRequests {
  display: flex;
  align-items: center;
  background: yellowgreen;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 0.9rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  }
  
  .showRequests svg {
    margin-right: 6px;
  }
  
  .showRequests:hover {
    background: hsl(80, 81%, 50%);
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .noRequests {
    text-align: center;
    font-size: 1rem;
    color: #dc143c;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  .searchWrapper {
    position: relative;
    width: 70%;
    margin-right: 30px;
    margin-top:10px;
  }
  
  .inputContainer {
    position: relative;
  }
  .searchIcon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    aspect-ratio: 1/1;
    height: 18px;
    filter: invert(50%);
  }
  .searchBar {
    width: 100%;
    padding: 15px 25px 15px 45px;
    font-size: 1rem;
    font-family: 'mulish', 'arial';
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .searchBar:focus {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
  }
  .searchBar:hover{
    border-radius: 30px;
  }
  .searchmotion {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bloodFilter {
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .alertBanner {
    background: crimson;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    animation: blink 1s infinite alternate;
  }
  @keyframes blink {
    from { opacity: 1; }
    to { opacity: 0.6; }
  }
  .statsContainer {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  .statCard {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color:yellowgreen;
  }

  